option_settings:
  aws:elasticbeanstalk:application:environment:
    PYTHONPATH: "/var/app/current/backend"

option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: backend/server:app

container_commands:
  01_install_dependencies:
    command: "pip install -r requirements.txt"
  02_start_uvicorn:
    command: "uvicorn backend.server:app --host 0.0.0.0 --port 8000"
